@model SistemaGestionIncidentesWebApp.Models.Incidente


@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Incidentes";
}

<link rel="stylesheet" href="~/css/incidentes.css" />
<div class="card-body p-0">

<h3>¿Estas seguro que deseas eliminar este incidente?</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloIncidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionIncidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolucionIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolucionIncidente)
        </dd>
 
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>

</div>