@model SistemaGestionIncidentesWebApp.Models.Incidente

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Incidentes";
}

<link rel="stylesheet" href="~/css/incidentes.css" />
<div class="card-body p-0">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloIncidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionIncidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolucionIncidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolucionIncidente)
        </dd>
        <dt class = "col-sm-2">
           Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioReporta.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Estado de Incidente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoIncidente.NombreEstado)
        </dd>
        <dt class = "col-sm-2">
            Técnico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioTecnico.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Regresar</a>
</div>
