@model SistemaGestionIncidentesWebApp.Models.Incidente

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Incidentes";
}
<div class="card shadow-sm">

    <div class="card-body p-0">
        <h2 class="text-center">Detalle Incidente</h2>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo_Incidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo_Incidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion_Incidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_Incidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solucion_Incidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solucion_Incidente)
        </dd>
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @(((SelectList)ViewBag.Usuarios)
                        .FirstOrDefault(u => u.Value == Model.Id_Usuario.ToString())?.Text)
        </dd>

        <dt class="col-sm-2">
            Categoría
        </dt>
        <dd class="col-sm-10">
            @(((SelectList)ViewBag.Categorias)
                        .FirstOrDefault(c => c.Value == Model.Id_Categoria.ToString())?.Text)
        </dd>

        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @(((SelectList)ViewBag.Estados)
                        .FirstOrDefault(e => e.Value == Model.Id_Estado.ToString())?.Text)
        </dd>

        <dt class="col-sm-2">
            Técnico
        </dt>
        <dd class="col-sm-10">
            @(((SelectList)ViewBag.Tecnicos)
                        .FirstOrDefault(t => t.Value == Model.Id_Tecnico.ToString())?.Text)
        </dd>

    </dl>
    <br />
<div>
            <a asp-action="MantenerIncidente" class="btn btn-secondary">Regresar</a>

</div>
    </div>
</div>